In [6]:
# Initial imports
import pandas as pd
import hvplot.pandas
from sqlalchemy import create_engine

In [7]:
# create a connection to the database using the create_engine function
engine = create_engine("postgresql://postgres:postgres@localhost:5432/SQL Homework")

In [8]:
# Define a query that select all rows from the animals_all table
query = "SELECT * FROM merch_hack"

# Load data into the DataFrame using the read_sql() method from pandas
hack_df = pd.read_sql(query, engine)

In [9]:
hack_df.head()

   amount  merchant_id                merchant_name
0    1.46           93             Rodriguez-Parker
1    1.39          100            Townsend-Anderson
2    1.91          108                     Best Inc
3    1.36           30                 Atkinson Ltd
4    1.33          127  Williams, Wright and Wagner